body{
   
}

.titulo_principal{
    padding-left: 30px;
}

#banner{
    width: 100%;
    }
     
.principal{
     background: #CCCCCC;
     padding: 20px;
  }

 .titulo-centralizado{
    text-align: center;
}

p{
    text-align: center; 
}

#mision{
    font-size: 20px;
}


em strong{
    color:#FF0000;
}



.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}


.diferenciales{
    background: #ffffff;
    padding: 30px;
}

.imagenDiferenciales{
    width: 50%;
}
